@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Login</title>
    <link href="../../Content/styles.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>

    <script type="text/javascript">

        //当用户刷新页面触发的方法
        $(function () {

            //实现用户登录的方法
            LoginUserInfo();
            //单击的时候修改验证码的方法
            ClickRemoveChangeCode();

        });

        //实现用户登录
        function LoginUserInfo() {

            //获取单击用户登录按钮的事件
            $("#loginbtn").click(function () {

                //首先获取到要传递到控制器的参数，并且狗造成Json。UName，Pwd，Code
                var postData = {
                    username: $("#user_name").val(),
                    password: $("#user_password").val(),
                    code: $("#user_code").val()
                };



                //发送异步请求实现登录

                $.post("/Login/CheckUserInfo", postData, function (data) {

                    if (data == "OK") {
                        window.location.href = "/User/Index";
                    } else {
                        alert(data);
                        window.location.href = "/Login/Index";
                    }

                });

            });

        }
        //单击重新改变验证码
        function ClickRemoveChangeCode() {
            //首先我们获取到验证码的路径
            var code = $("#imgCode").attr("src");
            //然后重新给验证码的路径赋值
            $("#imgCode").attr("src", code + "1");

        }
 
    </script>
</head>
<body id="login">
    <div id="wrappertop">
    </div>
    <div id="wrapper">
        <div id="content">
            <div id="header">
                <h1>
                </h1>
            </div>
            <div id="darkbanner" class="banner320">
                <img src="../../Content/Images/logo.gif" alt="WhiteTree"><h2>
                    White Tree</h2>
            </div>
            <div id="darkbannerwrap">
            </div>
            <form name="form1" method="post" action="/">
            <fieldset class="form">
                <p>
                    <label class="loginlabel" for="user_name">
                        用户名:</label>
                    <input class="logininput" name="user_name" id="user_name" type="text" value="" />
                </p>
                <p>
                    <label class="loginlabel" for="user_password">
                        密&nbsp; &nbsp;码:</label>
                    <input class="logininput" name="user_password" id="user_password" type="password" />
                </p>
                <p>
                    <label class="loginlabel" for="user_code">
                        验证码:</label>
                    <input class="logininput" name="user_code" id="user_code" type="text" style="width: 80px;" />
                    <img src="/Login/CheckCode?ID=1" id="imgCode" alt="单击可刷新" onclick="ClickRemoveChangeCode()"
                        style="width: 67px; height: 30px" />
                    <a href="javascript:void(0)" onclick="ClickRemoveChangeCode();return false;">看不清，换一张</a>
                </p>
                <button id="loginbtn" type="button" class="positive" name="Submit">
                    <img src="../../Content/Images/key.png" alt="Announcement" />登录
                </button>
                <ul id="forgottenpassword">
                    <li class="boldtext">|</li>
                    <li>
                        <input id="remember" type="checkbox" name="remember" />
                        <label for="rememberMe">
                            记住密码</label>
                    </li>
                </ul>
            </fieldset>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {


            //            $(".logininput").blur(function () {
            //                if ($(this).val() == "") {
            //                    $(this).css("border-color", "red");
            //                }
            //                else
            //                    $(this).css("border-color", "#D9D6C4");
            //            })

            $("#loginbtn").click(function () {
                var k = 0;
                var ajaxhtml = "";
                $(".logininput").each(function (i, obj) {
                    if ($(obj).val().trim() == "") {
                        k++;
                        $(this).css("border-color", "red");
                        $(this).focus();
                        return false;
                    }
                });
                if (k != 0) return;
                ajaxhtml = $("#loginbtn").html();
                $("#loginbtn").html("Loading....  <img src='../../Content/Images/loading.gif' alt='Announcement' /> ");
                $("#loginbtn").attr("disabled", "disabled");

            })
        });
        
    </script>
</body>
</html>
