<!-- topbar starts -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">
                <img alt="WhiteTree Logo" src="../../Charisma/img/logo.gif" />
                <span>WhiteTree</span></a>
            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user">
                </i><span class="hidden-phone">admin</span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-pencil"></i> 编辑</a></li>
                    <li><a href="#"><i class="icon-trash"></i> 删除</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-ban-circle"></i> 注销</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- topbar ends -->
