@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>实现用户的增删改查</title>
    <link href="@Url.Content("../../Content/bootstrap/css/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("../../Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
</head>
<body>

    <div>
        
    </div>

    <script src="@Url.Content("../../Scripts/jquery1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("../../Content/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
</body>
</html>
