<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <configSections>
    </configSections>
    <appSettings>

    </appSettings>

    <connectionStrings>
        <add name="DrisionMVCFrame.Tests.Properties.Settings.DrisionMVCFrameConnectionString"
            connectionString="Data Source=192.168.16.116;Initial Catalog=DrisionMVCFrame;Persist Security Info=True;User ID=sa;Password=Drision101771"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
